@import "../../styles/responsive.scss";

.navbar {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;
  }
  .icons {
    display: flex;
    align-items: center;
    gap: 20px;

    .settings {
      position: relative;

      .settings-menu {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background: #fff; // Thay đổi màu nền để phù hợp với trang chủ
        padding: 10px;
        z-index: 1;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); // Thêm bóng cho menu
        border-radius: 5px; // Làm tròn góc của menu
        width: 60px; // Thêm chiều rộng cố định cho menu

        button {
          font-family: 'Roboto', sans-serif; // Thay đổi font để phù hợp với trang chủ
          color: #333; // Thay đổi màu chữ
          background: none; // Loại bỏ nền mặc định của button
          border: none; // Loại bỏ viền mặc định của button
          padding: 1px 2px; // Thêm đệm cho button
          text-align: left; // Căn lề trái cho text
          width: 100%; // Làm cho button chiếm toàn bộ chiều rộng của menu
          cursor: pointer; // Thay đổi con trỏ khi di chuyển qua button

          &:hover {
            background: #f6f6f6; // Thêm hiệu ứng hover cho button
          }
        }
      }
    }

    .icon{
      @include sm{
        display: none;
      }
    }

    .notification {
      position: relative;

      span {
        background-color: red;
        color: white;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        right: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
      }
    }

    .user {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
